{% extends 'base.html' %}
{% block title %} {{ object.title }} {% endblock %}
{% block content %}
<div class="container">
  <h1>Detail page</h1>
</div>
<div class="container">
  <div class="">
    <div class="row">
      <div class="col-sm-4">
        <p>{{ object.title }}</p>
      </div>
      <div class="col-sm-6">
        <p>{{ cart }}</p>
        {% include 'carts/adcart.html' with product=object cart=cart %}
      </div>
    </div>
    <p>{{ object.description }}</p>
    <div class="card bg-white text-white container" style="width: 40rem;">
     <img src="{{ object.image.url }}" alt="" style="width: 100%; height: 100%;">
     <div class="card-img-overlay">
     </div>
    </div>
  </div>
</div>
{% endblock %}
