{% extends 'base.html' %}
{% block title %} products {% endblock %}
{% block content %}
<div class="container">
  <div class="">
    <div class="row">
      {% if query %}
      <div class="col-sm-12 mt-3">
        <h4 class="text-info text-center" >search for - {{ query }}</h4>
      </div>
      {% endif %}
      <br>
    </div>
    <hr>
    <br>
    <div class="row">

      {% for post in product %}
      <div class="col-sm-3 ml-2 mr-1 mt-3">
        <div class="card" style="width: 18rem;">
        <a href="{% url 'slug_detail' post.slug %}"><img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap" style="height: 18rem;" ></a>
         <div class="card-body">
           <p><a href="{% url 'slug_detail' post.slug %}">{{ post.title }}</a></p>
         </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
